.left_box{
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    padding: 20px 10px;
    overflow: hidden;
    background: #000;
}
.nav ul li a{
    text-decoration: none;
    color: #08fdd8;
    font-weight: 300;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    margin: 0.6rem 0;
    text-transform: uppercase;
    transition: .3s;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.nav ul li a span{
    opacity: 0;
    position: absolute;
    transition: .3s;
}
.nav ul li a:hover span{
    opacity: 1;
}

.navIcon{
    font-size: 1.3rem;
    color: #4d4d4e;
    transition: .3s;
}
.navIcon:hover{
    color: #08fdd8;
}
.nav ul li a:hover .navIcon{
    opacity: 0;
    position: absolute;
}
.social ul li a{
    color: #4d4d4e;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin: 1rem 0;
    font-weight: normal;
    transition: .3s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.social ul li a:hover{
    color: #08fdd8;
}
.socIcon{
    font-size: 1rem;
    color: #4d4d4e;
    transition: .3s;
}
.socIcon:hover{
    color: #08fdd8;
}
.active .navIcon{
    opacity: 0;
}
.active span{
    color: #08fdd8!important;
    opacity: 1!important;
}