.contactForm{
    width: 100%;
    background: transparent;
}
.control_form input, .control_form textarea{
    width: 100%;
}

.control_form input{
    border:1px solid transparent ;
    background: #37393b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
    transition: .6s;
}
.control_form input:focus{
    border-bottom:1px solid #04a4cc;
}
.control_form textarea:focus{
    border-bottom:1px solid #04a4cc;
}
.control_form textarea{
    border:1px solid transparent ;
    background: #37393b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
}
.btn_send{
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    color: #08fdd8;
    border: 1px solid #08fdd8;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    cursor: pointer;
    transition: .3s;
}
.btn_send:hover{
    background: #08fdd8;
    color: #252627;
}