body{
    background: #252627;
    overflow: hidden;
}
.wrapp_app{
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
    padding-left: 0;
}
*{
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
input:focus, textarea{
    outline: none;
    border:0;
}
/*****
gird
 */
.content{
    height: 100%;
    left: 0;
    padding: 0 0 0 75px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.width_100,
.width_80,
.width_60,
.width_50,
.width_40,
.width_30,
.width_20{
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.width_100{
    width: 100%;
    max-width: 100%;
}
.width_80{
    width: 80%;
    max-width: 80%;
}
.width_60{
    width: 60%;
    max-width: 60%;
}
.width_50{
    width: 50%;
    min-width: 50%;
}
.width_40{
    width: 40%;
    min-width: 40%;
}
.width_30{
    width: 30%;
    min-width: 30%;
}
.width_20{
    width: 20%;
    min-width: 20%;
}

.h-100{
    height: 100%;
}
/***padding***/
.pl-0{
    padding-left: 0!important;
}
.pr-0{
    padding-right: 0!important;
}
.pl-5{
    padding-left: 5px!important;
}
.pr-5{
    padding-right: 5px!important;
}
.bp-15{
    padding-bottom: 15px!important;
}
.bt-15{
    padding-bottom: 15px!important;
}
.mt-15{
    margin-top: 15px!important;
}
.mb-15{
    margin-bottom: 15px!important;
}
.mt-10{
    margin-top: 10px!important;
}
.mb-10{
    margin-bottom: 10px!important;
}
/***align content****/
.v-center{
    vertical-align: center!important;
}
.justify-content-center{
    justify-content: center!important;
}
.justify-content-end{
    justify-content: flex-end!important;
}

/****h1-h6****/
.h1{
   font-size: 54px;
    color: #08fdd8;
}

/****flex-direction***/
.flex-direction-c{
    flex-direction: column;
}
.flex-direction-r{
    flex-direction: row;
}
